<menu></menu>
<div>
	
	

<h1>Admin View</h1>
<h2>Add a new hat:</h2>

<form action="">
	<input type="text" ng-model="newHat.title" placeholder="Enter Title">
	<input type="text" ng-model="newHat.description" placeholder="Enter Description">
	<input type="text" ng-model="newHat.price" placeholder="Enter Price">
	<input type="text" ng-model="newHat.color" placeholder="Enter Color">
	<input type="text" ng-model="newHat.pattern" placeholder="Enter Pattern">
	<input type="text" ng-model="newHat.style" placeholder="Enter Style">
	<input type="text" ng-model="newHat.size" placeholder="Enter Size">
	<input type="text" ng-model="newHat.material" placeholder="Enter Material">
	<input type="text" ng-model="newHat.imageUrl" placeholder="Enter Image Url">
	<input type="button" ng-click="addHat(newHat)" value="Submit">
</form>


<h2>Select Hat to Edit or Delete</h2>

<input type="button" value="Delete" ng-click="deleteHat()" class="button">
<input type="button" value="Edit" ng-click="switch = !switch" class="button">

<div ng-repeat="hat in hats">
	<form action="">
		<input type="checkbox" ng-click="getIdsToDelete(hat._id)"> {{hat.title}}
	</form>
	<form action="" ng-show="switch" id="hatData">
		<input type="text" value="hat.title" ng-model="updatedHat.title">
		<input type="text" ng-model="updatedHat.description">
		<input type="text" ng-model="updatedHat.price">
		<input type="button" ng-click="editHat(updatedHat)" value="Submit">
	</form>
</div>
</div>